NEXT_PUBLIC_APP_ENV=production
NEXT_PUBLIC_BACKEND_API_URL=https://api-production.com
NEXT_PUBLIC_REVERB_APP_KEY=bzytayobnbsw5mmnjex3
NEXT_PUBLIC_REVERB_HOST=https://reverb.api-production.com
NEXT_PUBLIC_REVERB_PORT=443
NEXT_PUBLIC_REVERB_SCHEME=https