NEXT_PUBLIC_APP_ENV=development
NEXT_PUBLIC_BACKEND_API_URL=http://localhost:8000/api/v1
NEXT_PUBLIC_REVERB_APP_KEY=bzytayobnbsw5mmnjex3
NEXT_PUBLIC_REVERB_HOST=localhost
NEXT_PUBLIC_REVERB_PORT=9000
NEXT_PUBLIC_REVERB_SCHEME=http